app/jade/about.jade
block vars
	- var menuAboutIsActive = "is-active"

extends inc/layout

block append content
	.wrap
		.content
			.content-text
				h1 LEARN WITH ELDAR – The Story
				p ‘Learn with Eldar’ was founded in 2015, and is an Azeri educational video channel aimed at providing high quality educational videos to Children in Azerbaijan and abroad. Primarily, it focuses on elementary English and Mathematics, but is looking to branch out into other subjects including the sciences and the history of Azerbaijan.
				p The story of ‘Learn with Eldar’ began in 2012. Named after founder Eldar Hajiyev, an Azeri National studying in the UK, ‘Learn with Eldar’ is the result of a long-standing appreciation for the free and open-minded education that he received at Harrow School. 
				p Though Azerbaijan itself has high literacy rates and a strong public education system, the provision of quality English instruction remains sparse and often only available to those lucky enough to be in the best institutions. Given the fact that English is the key to many aspects of international development – including but not limited to pursuing further education abroad, research opportunities, trade and business etc. – Eldar was inspired to take advantage of his opportunities in the UK and work towards facilitating better primary education for children in Azerbaijan. 

				p Since beginning work on his broad educational project – which amongst other items includes writing and publishing his own book on governance and education – ‘Learn with Eldar’ is the culmination of many months of work with the cooperation of many different parties. Despite being incepted in 2015, it has already grown into an operation with a volunteer network all around the globe ranging from China to the United States.

				p Important recognition must be given to students of Oxford and Cambridge Universities, many of whom have kindly given their time to assisting the recording and production of the videos presented below. This not only helps to ensure quality control, but their involvement has also served to help raise awareness of Azerbaijan and Caspian issues around the UK.

				p There is no natural end-point for ‘Learn with Eldar’, and all of us at team LWE look forward to expanding into different subjects and reaching further into different countries to continue the core aim LWE, which is uncompromising quality and outreach. 

	include inc/l-videos-popular

site/about.html
<!DOCTYPE html>
<!-- Front-end by Ilkya Komichev-->
<!-- ilko.me-->
<html lang="ru">
	<head>
		<title>Learn with Eldar</title>
		<!-- meta -->
		<meta charset="utf-8">
		<!-- favicon -->
		<link rel="icon" type="image/png" href="favicon.png">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- styles -->
		<link href="css/styles.css" rel="stylesheet">
	</head>
	<body class="page-body">
		<div class="ilkome js-ilkome">
			<div class="header">
				<div class="header-top">
					<div class="wrap">
						<div class="headerLogo"><a href="index.html"></a></div>
						<div class="headerMenu">
							<ul>
								<li><a href="videos.html">Videos</a></li>
								<li class="is-active"><a href="about.html">About</a></li>
								<li><a href="mission.html">Mission</a></li>
								<li><a href="contacts.html">Contact</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="header-inside">
					<div class="wrap">
						<div class="headerPagename">The best for you</div>
					</div>
				</div>
			</div>
			<div class="l-content">
				<div class="wrap">
					<div class="content">
						<div class="content-text">
							<h1>LEARN WITH ELDAR – The Story</h1>
							<p>‘Learn with Eldar’ was founded in 2015, and is an Azeri educational video channel aimed at providing high quality educational videos to Children in Azerbaijan and abroad. Primarily, it focuses on elementary English and Mathematics, but is looking to branch out into other subjects including the sciences and the history of Azerbaijan.</p>
							<p>The story of ‘Learn with Eldar’ began in 2012. Named after founder Eldar Hajiyev, an Azeri National studying in the UK, ‘Learn with Eldar’ is the result of a long-standing appreciation for the free and open-minded education that he received at Harrow School. </p>
							<p>Though Azerbaijan itself has high literacy rates and a strong public education system, the provision of quality English instruction remains sparse and often only available to those lucky enough to be in the best institutions. Given the fact that English is the key to many aspects of international development – including but not limited to pursuing further education abroad, research opportunities, trade and business etc. – Eldar was inspired to take advantage of his opportunities in the UK and work towards facilitating better primary education for children in Azerbaijan. </p>
							<p>Since beginning work on his broad educational project – which amongst other items includes writing and publishing his own book on governance and education – ‘Learn with Eldar’ is the culmination of many months of work with the cooperation of many different parties. Despite being incepted in 2015, it has already grown into an operation with a volunteer network all around the globe ranging from China to the United States.</p>
							<p>Important recognition must be given to students of Oxford and Cambridge Universities, many of whom have kindly given their time to assisting the recording and production of the videos presented below. This not only helps to ensure quality control, but their involvement has also served to help raise awareness of Azerbaijan and Caspian issues around the UK.</p>
							<p>There is no natural end-point for ‘Learn with Eldar’, and all of us at team LWE look forward to expanding into different subjects and reaching further into different countries to continue the core aim LWE, which is uncompromising quality and outreach. </p>
						</div>
					</div>
				</div>
				<div class="videos videos_blue">
					<div class="wrap">
						<h2 class="videos-title videos-title_white">popular videos</h2>
						<div class="videos-slider">
							<div class="slider-pro js-slider-videos">
								<div class="sp-slides">
									<div class="sp-slide">
										<div class="videos-content">
																	<div class="videosElem">
																		<div class="videosElem-prev"><iframe width="338" height="190" src="https://www.youtube.com/embed/nf6vsbI2ofo?rel=0" frameborder="0" allowfullscreen></iframe></div>
																		<div class="videosElem-title videosElem-title_white">CHAPTER 2 - Phrases and Word Types</div>
																	</div>
																	<div class="videosElem">
																		<div class="videosElem-prev"><iframe width="338" height="190" src="https://www.youtube.com/embed/lQxrZUcjEUg?rel=0" frameborder="0" allowfullscreen></iframe></div>
																		<div class="videosElem-title videosElem-title_white">Introduction to the Language</div>
																	</div>
																	<div class="videosElem">
																		<div class="videosElem-prev"><iframe width="338" height="190" src="https://www.youtube.com/embed/ZnwU8yCMd6I?rel=0" frameborder="0" allowfullscreen></iframe></div>
																		<div class="videosElem-title videosElem-title_white">CHAPTER 1 - The English Alphabet</div>
																	</div>
										</div>
									</div>
									<div class="sp-slide">
										<div class="videos-content">
																	<div class="videosElem">
																		<div class="videosElem-prev"><iframe width="338" height="190" src="https://www.youtube.com/embed/nf6vsbI2ofo?rel=0" frameborder="0" allowfullscreen></iframe></div>
																		<div class="videosElem-title videosElem-title_white">CHAPTER 2 - Phrases and Word Types</div>
																	</div>
																	<div class="videosElem">
																		<div class="videosElem-prev"><iframe width="338" height="190" src="https://www.youtube.com/embed/Dn1phPU8bwg?rel=0" frameborder="0" allowfullscreen></iframe></div>
																		<div class="videosElem-title videosElem-title_white">CHAPTER 3 - Numbers</div>
																	</div>
																	<div class="videosElem">
																		<div class="videosElem-prev"><iframe width="338" height="190" src="https://www.youtube.com/embed/tGonYcKwUBo?rel=0" frameborder="0" allowfullscreen></iframe></div>
																		<div class="videosElem-title videosElem-title_white">CHAPTER 4 - Animal Names</div>
																	</div>
										</div>
									</div>
									<div class="sp-slide">
										<div class="videos-content">
																	<div class="videosElem">
																		<div class="videosElem-prev"><iframe width="338" height="190" src="https://www.youtube.com/embed/BS5C3GmYO-Y?rel=0" frameborder="0" allowfullscreen></iframe></div>
																		<div class="videosElem-title videosElem-title_white">CHAPTER 5 - British Background</div>
																	</div>
																	<div class="videosElem">
																		<div class="videosElem-prev"><iframe width="338" height="190" src="https://www.youtube.com/embed/HJZg8BWKx-A?rel=0" frameborder="0" allowfullscreen></iframe></div>
																		<div class="videosElem-title videosElem-title_white">CHAPTER 6 - Pronunciation Practice</div>
																	</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="l-footer">© 2015 eldar All rights reserved</div>
		</div>
	</body>
	<!-- scripts -->
	<script src="js/libs/jquery.min.js"></script>
	<script src="js/libs/jquery.sliderPro.min.js"></script>
	<script src="js/libs/jquery.easytabs.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js"></script>
	<script src="js/app.js"></script>
</html>
