site/index.html
<!DOCTYPE html>
<!-- Front-end by Ilkya Komichev-->
<!-- ilko.me-->
<html lang="ru">
	<head>
		<title>Learn with Eldar</title>
		<!-- meta -->
		<meta charset="utf-8">
		<!-- favicon -->
		<link rel="icon" type="image/png" href="favicon.png">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- styles -->
		<link href="css/styles.css" rel="stylesheet">
	</head>
	<body class="page-body">
		<div class="ilkome js-ilkome">
			<div class="header">
				<div class="header-top">
					<div class="wrap">
						<div class="headerLogo"><a href="index.html"></a></div>
						<div class="headerMenu">
							<ul>
								<li><a href="videos.html">Videos</a></li>
								<li><a href="about.html">About</a></li>
								<li><a href="mission.html">Mission</a></li>
								<li><a href="contacts.html">Contact</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="header-index">
					<div class="wrap">
						<div class="headerText">
							<div class="headerText-big">knowledge <br>is for everyone</div>
							<div class="headerText-smal">Maths and English</div>
							<div class="headerText-btn"><a href="videos.html" class="btn-green">Start watching</a></div>
						</div>
					</div>
				</div>
			</div>
			<div class="l-content">
				<div class="videos">
					<div class="wrap">
						<h2 class="videos-title">Videos</h2>
						<div class="videos-content">
														<div class="videosElem">
															<div class="videosElem-prev"><iframe width="338" height="190" src="https://www.youtube.com/embed/lQxrZUcjEUg?rel=0" frameborder="0" allowfullscreen></iframe></div>
															<div class="videosElem-title">Introduction to the Language</div>
														</div>
														<div class="videosElem">
															<div class="videosElem-prev"><iframe width="338" height="190" src="https://www.youtube.com/embed/ZnwU8yCMd6I?rel=0" frameborder="0" allowfullscreen></iframe></div>
															<div class="videosElem-title">CHAPTER 1 - The English Alphabet</div>
														</div>
														<div class="videosElem">
															<div class="videosElem-prev"><iframe width="338" height="190" src="https://www.youtube.com/embed/nf6vsbI2ofo?rel=0" frameborder="0" allowfullscreen></iframe></div>
															<div class="videosElem-title">CHAPTER 2 - Phrases and Word Types</div>
														</div>
						</div>
						<div class="videos-all"><a href="videos.html">All video</a></div>
					</div>
				</div>
				<div class="sliderText">
					<div class="sliderText-bg">
						<div class="wrap">
							<div class="sliderText-pic"><img src="img/slider.png" alt=""></div>
							<div class="sliderText-content">
								<div class="slider-pro js-slider-text">
									<div class="sp-slides">
										<div class="sp-slide">
											<h2 class="slideElem-title slideElem-title_blue">About</h2>
											<div class="slideElem-text">Learn with Eldar’ was founded in 2015, and is an Azeri educational video channel aimed at providing high quality educational videos to Children in Azerbaijan and abroad. Primarily, it focuses on elementary English and Mathematics, but is looking to branch out into other subjects including the sciences and the history of Azerbaijan.</div>
										</div>
										<div class="sp-slide">
											<h2 class="slideElem-title slideElem-title_red">Mission</h2>
											<div class="slideElem-text">The core aims of ‘Learn with Eldar’ are simple: the provision of the highest quality educational videos available targeted at young children to facilitate their development, and a commitment to global outreach.</div>
										</div>
										<div class="sp-slide">
											<h2 class="slideElem-title slideElem-title_green">Contact</h2>
											<div class="slideElem-text">5 Keykab Khanim Safaraliyeva Street, AZ1010, Baku, Azerbaijan.</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="l-footer">© 2015 eldar All rights reserved</div>
		</div>
	</body>
	<!-- scripts -->
	<script src="js/libs/jquery.min.js"></script>
	<script src="js/libs/jquery.sliderPro.min.js"></script>
	<script src="js/libs/jquery.easytabs.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js"></script>
	<script src="js/app.js"></script>
</html>

app/jade/index.jade
block vars
	- var home = "10"

extends inc/layout

block append content
	.videos
		.wrap
			h2.videos-title Videos
			.videos-content
				include inc/m-video-elem
				+videosElem(
					'<iframe width="338" height="190" src="https://www.youtube.com/embed/lQxrZUcjEUg?rel=0" frameborder="0" allowfullscreen></iframe>',
					'Introduction to the Language'
				)
				+videosElem(
					'<iframe width="338" height="190" src="https://www.youtube.com/embed/ZnwU8yCMd6I?rel=0" frameborder="0" allowfullscreen></iframe>',
					'CHAPTER 1 - The English Alphabet'
				)
				+videosElem(
					'<iframe width="338" height="190" src="https://www.youtube.com/embed/nf6vsbI2ofo?rel=0" frameborder="0" allowfullscreen></iframe>',
					'CHAPTER 2 - Phrases and Word Types'
				)
			.videos-all
				a(href="videos.html") All video

	.sliderText
		.sliderText-bg
			.wrap
				.sliderText-pic: img(src="img/slider.png", alt="")
				.sliderText-content
					.slider-pro.js-slider-text
						.sp-slides
							.sp-slide
								h2.slideElem-title.slideElem-title_blue About
								.slideElem-text Learn with Eldar’ was founded in 2015, and is an Azeri educational video channel aimed at providing high quality educational videos to Children in Azerbaijan and abroad. Primarily, it focuses on elementary English and Mathematics, but is looking to branch out into other subjects including the sciences and the history of Azerbaijan.
							.sp-slide
								h2.slideElem-title.slideElem-title_red Mission
								.slideElem-text The core aims of ‘Learn with Eldar’ are simple: the provision of the highest quality educational videos available targeted at young children to facilitate their development, and a commitment to global outreach.
							.sp-slide
								h2.slideElem-title.slideElem-title_green Contact
								.slideElem-text 5 Keykab Khanim Safaraliyeva Street, AZ1010, Baku, Azerbaijan.
