app/jade/mission.jade
block vars
	- var menuMissionIsActive = "is-active"

extends inc/layout

block append content
	.wrap
		.content
			h1.content-title Mission
			.content-text
				h2 LEARN WITH ELDAR – Mission
				p The core aims of ‘Learn with Eldar’ are simple: the provision of the highest quality educational videos available targeted at young children to facilitate their development, and a commitment to global outreach.
				p This is especially important given that in Azerbaijan and elsewhere, there is huge potential both untapped and not allowed to flourish due to a lack of opportunity and access to quality education. ‘Learn with Eldar’ aims to bridge this gap, especially at earliest stages, reflecting the second Millennium Development Goal which is a commitment to the provision of Universal Primary Education.
				p In order to ensure the highest level of quality, ‘Learn with Eldar’ has consistently reached out to the student communities of elite Western Universities to enlist their help in the production of videos. As a result of this commitment, most videos have been produced the students of Oxford and Cambridge Universities who have freely and kindly given their time and effort towards the provision of these videos to the world.
				p Though the project has started with the provision of videos in English and Mathematics, as the collaborative effort grows videos in other subjects such as biology and history will also eventually be published, increasing in complexity and maturity as the videos follow the progress of its virtual audience through the education system.
				p Furthermore, ‘Learn with Eldar’ also has a partnership with the Oxford Education Management Group Ltd. (OEG), through which it is expanding its outreach to different countries including but not limited to Ukraine and China. This partnership has allowed ‘Learn with Eldar’ to push forward in its commitment to global outreach through access to new regions, countries and target audiences through which to help. 
				h2 Message from the Founder
				blockquote “I am incredibly proud to present Learn with Eldar to my homeland, Azerbaijan, and the rest of the world. I personally am the recipient of an excellent education and I cannot be more grateful for that. However – through this I have also realised how lucky I am, and was inspired to give back and help children dream bigger and better through having access to better education, free of charge. I am so grateful to everyone who has made this project possible, and look forward to guiding this project into uncharted waters whilst maintaining our standards of quality’ 

				ul
					li Eldar Hajiyev, July 2015

	include inc/l-videos-popular

site/mission.html
<!DOCTYPE html>
<!-- Front-end by Ilkya Komichev-->
<!-- ilko.me-->
<html lang="ru">
	<head>
		<title>Learn with Eldar</title>
		<!-- meta -->
		<meta charset="utf-8">
		<!-- favicon -->
		<link rel="icon" type="image/png" href="favicon.png">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- styles -->
		<link href="css/styles.css" rel="stylesheet">
	</head>
	<body class="page-body">
		<div class="ilkome js-ilkome">
			<div class="header">
				<div class="header-top">
					<div class="wrap">
						<div class="headerLogo"><a href="index.html"></a></div>
						<div class="headerMenu">
							<ul>
								<li><a href="videos.html">Videos</a></li>
								<li><a href="about.html">About</a></li>
								<li class="is-active"><a href="mission.html">Mission</a></li>
								<li><a href="contacts.html">Contact</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="header-inside">
					<div class="wrap">
						<div class="headerPagename">The best for you</div>
					</div>
				</div>
			</div>
			<div class="l-content">
				<div class="wrap">
					<div class="content">
						<h1 class="content-title">Mission</h1>
						<div class="content-text">
							<h2>LEARN WITH ELDAR – Mission</h2>
							<p>The core aims of ‘Learn with Eldar’ are simple: the provision of the highest quality educational videos available targeted at young children to facilitate their development, and a commitment to global outreach.</p>
							<p>This is especially important given that in Azerbaijan and elsewhere, there is huge potential both untapped and not allowed to flourish due to a lack of opportunity and access to quality education. ‘Learn with Eldar’ aims to bridge this gap, especially at earliest stages, reflecting the second Millennium Development Goal which is a commitment to the provision of Universal Primary Education.</p>
							<p>In order to ensure the highest level of quality, ‘Learn with Eldar’ has consistently reached out to the student communities of elite Western Universities to enlist their help in the production of videos. As a result of this commitment, most videos have been produced the students of Oxford and Cambridge Universities who have freely and kindly given their time and effort towards the provision of these videos to the world.</p>
							<p>Though the project has started with the provision of videos in English and Mathematics, as the collaborative effort grows videos in other subjects such as biology and history will also eventually be published, increasing in complexity and maturity as the videos follow the progress of its virtual audience through the education system.</p>
							<p>Furthermore, ‘Learn with Eldar’ also has a partnership with the Oxford Education Management Group Ltd. (OEG), through which it is expanding its outreach to different countries including but not limited to Ukraine and China. This partnership has allowed ‘Learn with Eldar’ to push forward in its commitment to global outreach through access to new regions, countries and target audiences through which to help. </p>
							<h2>Message from the Founder</h2>
							<blockquote>“I am incredibly proud to present Learn with Eldar to my homeland, Azerbaijan, and the rest of the world. I personally am the recipient of an excellent education and I cannot be more grateful for that. However – through this I have also realised how lucky I am, and was inspired to give back and help children dream bigger and better through having access to better education, free of charge. I am so grateful to everyone who has made this project possible, and look forward to guiding this project into uncharted waters whilst maintaining our standards of quality’ </blockquote>
							<ul>
								<li>Eldar Hajiyev, July 2015</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="videos videos_blue">
					<div class="wrap">
						<h2 class="videos-title videos-title_white">popular videos</h2>
						<div class="videos-slider">
							<div class="slider-pro js-slider-videos">
								<div class="sp-slides">
									<div class="sp-slide">
										<div class="videos-content">
																	<div class="videosElem">
																		<div class="videosElem-prev"><iframe width="338" height="190" src="https://www.youtube.com/embed/nf6vsbI2ofo?rel=0" frameborder="0" allowfullscreen></iframe></div>
																		<div class="videosElem-title videosElem-title_white">CHAPTER 2 - Phrases and Word Types</div>
																	</div>
																	<div class="videosElem">
																		<div class="videosElem-prev"><iframe width="338" height="190" src="https://www.youtube.com/embed/lQxrZUcjEUg?rel=0" frameborder="0" allowfullscreen></iframe></div>
																		<div class="videosElem-title videosElem-title_white">Introduction to the Language</div>
																	</div>
																	<div class="videosElem">
																		<div class="videosElem-prev"><iframe width="338" height="190" src="https://www.youtube.com/embed/ZnwU8yCMd6I?rel=0" frameborder="0" allowfullscreen></iframe></div>
																		<div class="videosElem-title videosElem-title_white">CHAPTER 1 - The English Alphabet</div>
																	</div>
										</div>
									</div>
									<div class="sp-slide">
										<div class="videos-content">
																	<div class="videosElem">
																		<div class="videosElem-prev"><iframe width="338" height="190" src="https://www.youtube.com/embed/nf6vsbI2ofo?rel=0" frameborder="0" allowfullscreen></iframe></div>
																		<div class="videosElem-title videosElem-title_white">CHAPTER 2 - Phrases and Word Types</div>
																	</div>
																	<div class="videosElem">
																		<div class="videosElem-prev"><iframe width="338" height="190" src="https://www.youtube.com/embed/Dn1phPU8bwg?rel=0" frameborder="0" allowfullscreen></iframe></div>
																		<div class="videosElem-title videosElem-title_white">CHAPTER 3 - Numbers</div>
																	</div>
																	<div class="videosElem">
																		<div class="videosElem-prev"><iframe width="338" height="190" src="https://www.youtube.com/embed/tGonYcKwUBo?rel=0" frameborder="0" allowfullscreen></iframe></div>
																		<div class="videosElem-title videosElem-title_white">CHAPTER 4 - Animal Names</div>
																	</div>
										</div>
									</div>
									<div class="sp-slide">
										<div class="videos-content">
																	<div class="videosElem">
																		<div class="videosElem-prev"><iframe width="338" height="190" src="https://www.youtube.com/embed/BS5C3GmYO-Y?rel=0" frameborder="0" allowfullscreen></iframe></div>
																		<div class="videosElem-title videosElem-title_white">CHAPTER 5 - British Background</div>
																	</div>
																	<div class="videosElem">
																		<div class="videosElem-prev"><iframe width="338" height="190" src="https://www.youtube.com/embed/HJZg8BWKx-A?rel=0" frameborder="0" allowfullscreen></iframe></div>
																		<div class="videosElem-title videosElem-title_white">CHAPTER 6 - Pronunciation Practice</div>
																	</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="l-footer">© 2015 eldar All rights reserved</div>
		</div>
	</body>
	<!-- scripts -->
	<script src="js/libs/jquery.min.js"></script>
	<script src="js/libs/jquery.sliderPro.min.js"></script>
	<script src="js/libs/jquery.easytabs.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js"></script>
	<script src="js/app.js"></script>
</html>
