site/videos.html
<!DOCTYPE html>
<!-- Front-end by Ilkya Komichev-->
<!-- ilko.me-->
<html lang="ru">
	<head>
		<title>Learn with Eldar</title>
		<!-- meta -->
		<meta charset="utf-8">
		<!-- favicon -->
		<link rel="icon" type="image/png" href="favicon.png">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- styles -->
		<link href="css/styles.css" rel="stylesheet">
	</head>
	<body class="page-body">
		<div class="ilkome js-ilkome">
			<div class="header">
				<div class="header-top">
					<div class="wrap">
						<div class="headerLogo"><a href="index.html"></a></div>
						<div class="headerMenu">
							<ul>
								<li class="is-active"><a href="videos.html">Videos</a></li>
								<li><a href="about.html">About</a></li>
								<li><a href="mission.html">Mission</a></li>
								<li><a href="contacts.html">Contact</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="header-inside">
					<div class="wrap">
						<div class="headerPagename">The best for you</div>
					</div>
				</div>
			</div>
			<div class="l-content">
				<div class="videos">
					<div class="wrap js-tabs">
						<div class="videos-tabs">
							<h1 class="content-title">Videos</h1>
							<div id="tab-english" class="videos-content">
															<div class="videosElem">
																<div class="videosElem-prev"><iframe width="338" height="190" src="https://www.youtube.com/embed/lQxrZUcjEUg?rel=0" frameborder="0" allowfullscreen></iframe></div>
																<div class="videosElem-title">Introduction to the Language</div>
															</div>
															<div class="videosElem">
																<div class="videosElem-prev"><iframe width="338" height="190" src="https://www.youtube.com/embed/ZnwU8yCMd6I?rel=0" frameborder="0" allowfullscreen></iframe></div>
																<div class="videosElem-title">CHAPTER 1 - The English Alphabet</div>
															</div>
															<div class="videosElem">
																<div class="videosElem-prev"><iframe width="338" height="190" src="https://www.youtube.com/embed/nf6vsbI2ofo?rel=0" frameborder="0" allowfullscreen></iframe></div>
																<div class="videosElem-title">CHAPTER 2 - Phrases and Word Types</div>
															</div>
															<div class="videosElem">
																<div class="videosElem-prev"><iframe width="338" height="190" src="https://www.youtube.com/embed/Dn1phPU8bwg?rel=0" frameborder="0" allowfullscreen></iframe></div>
																<div class="videosElem-title">CHAPTER 3 - Numbers</div>
															</div>
															<div class="videosElem">
																<div class="videosElem-prev"><iframe width="338" height="190" src="https://www.youtube.com/embed/tGonYcKwUBo?rel=0" frameborder="0" allowfullscreen></iframe></div>
																<div class="videosElem-title">CHAPTER 4 - Animal Names</div>
															</div>
															<div class="videosElem">
																<div class="videosElem-prev"><iframe width="338" height="190" src="https://www.youtube.com/embed/BS5C3GmYO-Y?rel=0" frameborder="0" allowfullscreen></iframe></div>
																<div class="videosElem-title">CHAPTER 5 - British Background</div>
															</div>
															<div class="videosElem">
																<div class="videosElem-prev"><iframe width="338" height="190" src="https://www.youtube.com/embed/HJZg8BWKx-A?rel=0" frameborder="0" allowfullscreen></iframe></div>
																<div class="videosElem-title">CHAPTER 6 - Pronunciation Practice</div>
															</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="l-footer">© 2015 eldar All rights reserved</div>
		</div>
	</body>
	<!-- scripts -->
	<script src="js/libs/jquery.min.js"></script>
	<script src="js/libs/jquery.sliderPro.min.js"></script>
	<script src="js/libs/jquery.easytabs.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js"></script>
	<script src="js/app.js"></script>
</html>

app/jade/videos.jade
block vars
	- var menuVideosIsActive = "is-active"

extends inc/layout

block append content
	.videos
		.wrap.js-tabs
			//-.videos-nav
				ul
					li: a(href="#tab-english") English
					//-li: a(href="#tab-math") Second tab

			.videos-tabs
				include inc/m-video-elem
				h1.content-title Videos
				.videos-content(id="tab-english")
					+videosElem(
						'<iframe width="338" height="190" src="https://www.youtube.com/embed/lQxrZUcjEUg?rel=0" frameborder="0" allowfullscreen></iframe>',
						'Introduction to the Language'
					)
					+videosElem(
						'<iframe width="338" height="190" src="https://www.youtube.com/embed/ZnwU8yCMd6I?rel=0" frameborder="0" allowfullscreen></iframe>',
						'CHAPTER 1 - The English Alphabet'
					)
					+videosElem(
						'<iframe width="338" height="190" src="https://www.youtube.com/embed/nf6vsbI2ofo?rel=0" frameborder="0" allowfullscreen></iframe>',
						'CHAPTER 2 - Phrases and Word Types'
					)
					+videosElem(
						'<iframe width="338" height="190" src="https://www.youtube.com/embed/Dn1phPU8bwg?rel=0" frameborder="0" allowfullscreen></iframe>',
						'CHAPTER 3 - Numbers'
					)
					+videosElem(
						'<iframe width="338" height="190" src="https://www.youtube.com/embed/tGonYcKwUBo?rel=0" frameborder="0" allowfullscreen></iframe>',
						'CHAPTER 4 - Animal Names'
					)
					+videosElem(
						'<iframe width="338" height="190" src="https://www.youtube.com/embed/BS5C3GmYO-Y?rel=0" frameborder="0" allowfullscreen></iframe>',
						'CHAPTER 5 - British Background'
					)
					+videosElem(
						'<iframe width="338" height="190" src="https://www.youtube.com/embed/HJZg8BWKx-A?rel=0" frameborder="0" allowfullscreen></iframe>',
						'CHAPTER 6 - Pronunciation Practice'
					)

				//- Second tab
				//-.videos-content(id="tab-math")
					+videosElem
					+videosElem
					+videosElem
					+videosElem("videosElem_hidden")
					+videosElem("videosElem_hidden")
					//-.videos-more
						.videos-more-in
							a(href="#").js-show-more
								| More videos
								span (58)
